In [1]:
# -------------------------------------------------------- Imports --------------------------------------------------------
import pandas as pd

In [2]:
# -------------------------------------------------------- Load Data --------------------------------------------------------
df = pd.read_csv('Hotel_Reviews_Filtered.csv')

In [3]:
# -------------------------------------------------------- Best Tags --------------------------------------------------------
df.Tags = df.Tags.str.strip("[']")
df.Tags = df.Tags.str.replace(" ', '", ",", regex = False)
tag_list_df = df.Tags.str.split(',', expand = True)
df["Tag_1"] = tag_list_df[0].str.strip()
df["Tag_2"] = tag_list_df[1].str.strip()
df["Tag_3"] = tag_list_df[2].str.strip()
df["Tag_4"] = tag_list_df[3].str.strip()
df["Tag_5"] = tag_list_df[4].str.strip()
df["Tag_6"] = tag_list_df[5].str.strip()

In [6]:
# --- Merge to 1 Col ----
df_tags = df.melt(value_vars=["Tag_1", "Tag_2", "Tag_3", "Tag_4", "Tag_5", "Tag_6"])

In [7]:
# ---- Top 10 Tags ----
tag_vc = df_tags.value.value_counts()
print("The shape of the tags with no filtering:", str(df_tags.shape))
df_tags = df_tags[~df_tags.value.str.contains("Standard|room|Stayed|device|Beds|Suite|Studio|King|Superior|Double", na=False, case=False)]
tag_vc = df_tags.value.value_counts().reset_index(name="count").query("count > 1000")
print(tag_vc[:10])

The shape of the tags with no filtering: (3094428, 2)
                        value   count
0                Leisure trip  417778
1                      Couple  252294
2               Solo traveler  108545
3               Business trip   82939
4                       Group   65392
5  Family with young children   61015
6  Family with older children   26349
7      Travelers with friends    2143
8                  With a pet    1405